In [31]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [32]:
data01=pd.read_excel("EMPIR_PhotoLED_SPECTRAL_DATABASE_version_2.xlsx",sheet_name="DATA", header= None)

In [33]:
data01

,0,1,2,3,4,5,6,7,8,9,...,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494
0,CCT / K (min Duv),1705.352314,1713.387538,1723.057803,1999.707704,2000.435949,2001.598484,2016.090589,2397.806421,2457.843468,...,13670.809269,17404.139042,20704.787239,24579.235077,26462.147236,95088.923916,49870.399476,124156.799214,796918788804.687988,1329594372375
1,"CCT / K (MacCamy, not precise)",1736.929722,1746.038149,1751.22689,1981.136046,1981.914894,1983.029601,1999.778316,2376.050078,2455.602571,...,13012.461169,15741.675721,17903.54316,19995.199607,20786.818858,26596.409443,28058.356625,31681.715633,37217.402786,43715.461775
2,Rf,52.026891,53.393764,59.853801,84.155885,84.207529,84.198936,87.569156,81.712481,66.934518,...,58.705618,61.719455,69.460104,64.792171,0,0,0,0,0,0
3,Ra,36.854868,58.611153,48.940549,79.737989,79.648359,79.812248,89.797702,90.730333,61.378274,...,68.566726,69.854846,74.343482,77.757632,0,0,0,0,0,0
4,R9,-111.405013,-44.358968,-67.801535,67.036213,66.14593,67.337749,47.532339,77.231185,-53.655122,...,33.632819,39.730473,49.190597,75.67656,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,826,0,0,0.000428,0.000056,0.000012,0.000038,0.000332,0,0,...,0,0,0,0,0,0,0,0,0,0
475,827,0,0,0.000404,0.000052,0.000026,0.000046,0.000336,0,0,...,0,0,0,0,0,0,0,0,0,0
476,828,0,0,0.00043,0.000053,0.000028,0.000044,0.000332,0,0,...,0,0,0,0,0,0,0,0,0,0
477,829,0,0,0.000398,0.000043,0.000024,0.00004,0.000314,0,0,...,0,0,0,0,0,0,0,0,0,0
478,830,0,0,0.000383,0.00007,-0.000003,0.000051,0.000306,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
data = data01.drop([0,1,2,3,4,5,6,7])

data02 = data.drop([0], axis=1)
data02

,1,2,3,4,5,6,7,8,9,10,...,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494
8,0.000023,0.000034,0,0.000088,0.000026,0.000054,0.000085,0,0,0,...,0.000138,0.000577,0.000117,0,0.00017,0.000087,0,0,0,-0.000001
9,0.00002,0.000024,0,0.000074,0.000014,0.000067,0.000098,0,0,0,...,0.000119,0.000556,0.000049,0,0.000115,0.000128,0.000621,-0.0,0,-0.000001
10,0.000024,0.000028,0,0.000075,0.000023,0.000041,0.000089,0,0,0,...,0.000141,0.000395,0.000047,0,0.000061,0.000082,0.000594,0,0,-0.000001
11,0.000015,0.000028,0,0.000051,0.000032,0.000038,0.000067,0,0,0,...,0.000165,0.000531,0.000095,0,0.000077,0.000086,0.00055,-0.0,0,-0.000001
12,0.000027,0.00003,0,0.000073,0.000004,0.000051,0.000073,0,0,0,...,0.000138,0.000462,0.000082,0,0.000102,0.000103,0.00056,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,0,0,0.000428,0.000056,0.000012,0.000038,0.000332,0,0,0.000117,...,0,0,0,0,0,0,0,0,0,0
475,0,0,0.000404,0.000052,0.000026,0.000046,0.000336,0,0,0.000113,...,0,0,0,0,0,0,0,0,0,0
476,0,0,0.00043,0.000053,0.000028,0.000044,0.000332,0,0,0.000108,...,0,0,0,0,0,0,0,0,0,0
477,0,0,0.000398,0.000043,0.000024,0.00004,0.000314,0,0,0.000104,...,0,0,0,0,0,0,0,0,0,0
478,0,0,0.000383,0.00007,-0.000003,0.000051,0.000306,0,0,0.000098,...,0,0,0,0,0,0,0,0,0,0

703674 个

471*1494

In [39]:
data_cleared = data02.values
print(data_cleared)

    0         1         2         3         4         5         6     \
8    360  0.000023  0.000034         0  0.000088  0.000026  0.000054
9    361   0.00002  0.000024         0  0.000074  0.000014  0.000067
10   362  0.000024  0.000028         0  0.000075  0.000023  0.000041
11   363  0.000015  0.000028         0  0.000051  0.000032  0.000038
12   364  0.000027   0.00003         0  0.000073  0.000004  0.000051
..   ...       ...       ...       ...       ...       ...       ...
474  826         0         0  0.000428  0.000056  0.000012  0.000038
475  827         0         0  0.000404  0.000052  0.000026  0.000046
476  828         0         0   0.00043  0.000053  0.000028  0.000044
477  829         0         0  0.000398  0.000043  0.000024   0.00004
478  830         0         0  0.000383   0.00007 -0.000003  0.000051

         7    8    9     ...      1485      1486      1487 1488      1489  \
8    0.000085    0    0  ...  0.000138  0.000577  0.000117    0   0.00017
9    0.000098    0    0  ...  0.000119  0.000556  0.000049    0  0.000115
10   0.000089    0    0  ...  0.000141  0.000395  0.000047    0  0.000061
11   0.000067    0    0  ...  0.000165  0.000531  0.000095    0  0.000077
12   0.000073    0    0  ...  0.000138  0.000462  0.000082    0  0.000102
..        ...  ...  ...  ...       ...       ...       ...  ...       ...
474  0.000332    0    0  ...         0         0         0    0         0
475  0.000336    0    0  ...         0         0         0    0         0
476  0.000332    0    0  ...         0         0         0    0         0
477  0.000314    0    0  ...         0         0         0    0         0
478  0.000306    0    0  ...         0         0         0    0         0

         1490      1491 1492 1493      1494
8    0.000087         0    0    0 -0.000001
9    0.000128  0.000621 -0.0    0 -0.000001
10   0.000082  0.000594    0    0 -0.000001
11   0.000086   0.00055 -0.0    0 -0.000001
12   0.000103   0.00056    0    0         0
..        ...       ...  ...  ...       ...
474         0         0    0    0         0
475         0         0    0    0         0
476         0         0    0    0         0
477         0         0    0    0         0
478         0         0    0    0         0

[471 rows x 1495 columns]

In [40]:
data_cleared

array([[2.2757918125842892e-05, 3.399140921248083e-05, 0, ..., 0, 0,
        -1.4641251332350348e-06],
       [1.9919133402337825e-05, 2.3700268496282506e-05, 0, ...,
        -2.3619574765657763e-07, 0, -7.864368065780602e-07],
       [2.426599233262612e-05, 2.7677856950898395e-05, 0, ..., 0, 0,
        -1.4641251332350348e-06],
       ...,
       [0, 0, 0.00043048149708697887, ..., 0, 0, 0],
       [0, 0, 0.0003976583840582494, ..., 0, 0, 0],
       [0, 0, 0.000382703643050606, ..., 0, 0, 0]], dtype=object)

In [41]:
np.save("cleandata.npy", data_cleared)

In [46]:
data02.to_csv("rowdata")

In [ ]:
data.shape